<!Doctype html>
<html>
<head>
    <title>Todo App</title>

</head>
<body>
    <h1>My Todo List</h1>
    <a href="{% url 'add_task' %}">Add Task</a>
    <hr>

    {% for task in tasks %}
        <p>
            {% if task.completd %}
            yes
            {% else %}
            no
            {% endif %}

            {{% tasks.title %}}
            <a href="{% url 'edit_task' task.id %}">Edit</a>

            <a href="{% url 'delete_task'task.id %}">Delete</a> 
        </p>
    {% empty %}
        <p>No tasks yet.</p>
    {% endfor %}

</body>
</html>